<%- include('head'); %>


  <!-- Contenido -->
  <main class="container">

    <p>
      Muchas gracias por contatar con nosotros  <%= email %>, será cocinado en breve.
    </p>
    <p><a href="/contacto">Volver al formulario</a></p>
  </main>
  <!-- fin contenido -->
  <%- include('footer'); %>